<!DOCTYPE html>
<html ng-app="acrobatApp">
  <head>
    <meta charset="utf-8">
    <title>League of Acrobats</title>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css"> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script>
    </script>
  </head>
  <body ng-controller="AcrobatController">
    <h1>League of Acrobats</h1>
    <form ng-submit="addAcrobat()" ng-hide="editing">
      <input type="text" ng-model="acrobat.name" placeholder="Enter Your Name" required>
      <input type="text" ng-model="acrobat.act" placeholder="What's Your Act?" required>
      <button type="submit">Sign Me Up</button>
      <a href="#" ng-click="removeLastAcrobat()">Remove Last Acrobat</a>
    </form>

    <form ng-submit="updateAcrobat()" ng-show="editing">
      <input type="text" ng-model="acrobat.name" placeholder="Enter Your Name" required>
      <input type="text" ng-model="acrobat.act" placeholder="What's Your Act?" required>
      <button type="submit">Stop Editing</button>
    </form>

    <div>
      <h2>Member List</h2>
      <ul>
        <li ng-repeat="acrobat in acrobats track by $index">
          The Fabulous <span ng-bind="acrobat.name"></span>: Master of <span ng-bind="acrobat.act"></span>!
          <a href="#" ng-click="editAcrobat(acrobat)">(edit)</a>
          <a href="#" ng-click="deleteAcrobat($index)">(delete)</a>
        </li>
      </ul>
    </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script> -->
  </body>
</html>
